<div class="shiftmap-promo-area">
	<h3 class="shitfmap-promo-area-text">Relocation, relocation, relocation...</h3>
	<button class="shiftmap-promo-area-button" type="button" value="Change your location">Change your location</button><img width="70" height="70" src="%assetspath%/icons/icon-2.svg" class="shitfmap-promo-area-icon">
	<div class="shiftmap-promo-area-tooltip">
		Search for a landmark below. Once the map shows the landmark, click confirm to save this as your location marker. Do not use your own physical address.
		<a href="javascript:;">Cancel</a>
	</div>
</div>