@import '../../../normalize';

$screen-xs:                  480px;
$screen-sm:                  768px;
$screen-md:                  992px;
$screen-lg:                  1200px;

$font-family:                Roboto;
$outline-gray:               #F0F0F1;



body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  background-color: transparent;

  @media screen and (max-width: $screen-xs) {
    width: 10%;
    height: 100px;
  }

  @media screen and (max-width: $screen-sm) {
    height: 100px;
  }
  
  @media screen and (max-width: $screen-md) {

  }

  @media screen and (max-width: $screen-lg) {
    position: relative;
    float: right;
    height: 520px;
    width: 80%;
  }
}


#clusterize-user-panel {

  @media (max-width: $screen-xs) {

  }

  @media (max-width: $screen-sm) {

  }
  
  @media (max-width: $screen-md) {

  }

  @media (max-width: $screen-lg) {

    position: absolute;
    float:right;
    margin: 0 auto;
    width: 20%;
    height: 490px;
    margin-top: 2.5%;
    height: 100%;
  }

}

.clusterize {

  @media (max-width: $screen-xs) {

  }

  @media (max-width: $screen-sm) {

  }
  
  @media (max-width: $screen-md) {

  }

  @media (max-width: $screen-lg) {

  }
}


#scrollArea {
  
  @media (max-width: $screen-xs) {

  }

  @media (max-width: $screen-sm) {

  }
  
  @media (max-width: $screen-md) {

  }

  @media (max-width: $screen-lg) {
    overflow-y: scroll;
    height: 490px; 
  }
}

#clusterize-user-cell {
    
  @media (max-width: $screen-xs) {

  }

  @media (max-width: $screen-sm) {

  }
  
  @media (max-width: $screen-md) {

  }

  @media (max-width: $screen-lg) {
    width: 100%;
    height: 100%;
    position: relative;
    padding {
      top: 5%; 
      left: 5%;
    }
  }
}

#clusterize-user-cell:after {
    
  @media (max-width: $screen-xs) {

  }

  @media (max-width: $screen-sm) {

  }
  
  @media (max-width: $screen-md) {

  }
  
  @media (max-width: $screen-lg) {
    content: '';
    position: absolute;
    width: 92%;
    top: 2.5%;
    left: 5%;
    right: 5%;
    bottom: 2.5%;
    outline: 2px solid $outline-gray;
  }
}

#clusterize-user-cell {
        
  @media (max-width: $screen-xs) {
   h3 {  
      float: left;
      width: 10%;
      color: black;
      font-family: $font-family;
      font-size: 10px;
      font-style: bold;
    }

    img {
      padding-left: 2.5%;
      padding-bottom: 2.5%; 
      float: left;
    }

    button {
      float: right;
      width: 10%;
      height: 10%;
      background: transparent;
      border: solid 2px;
      border-bottom: 3px solid;
      font-weight: 700;
    }
  }

  @media (max-width: $screen-sm) {

  }
  
  @media (max-width: $screen-md) {

  }

  @media (max-width: $screen-lg) {

    h3 {  
      margin-top: 2.5%;
      margin-left: 2.5%;
      float: left;
      width: 40%;
      overflow-wrap: break-word;
      color: black;
      font-family: $font-family;
      font-size: 14px;
      font-style: bold;
    }

    img {
      margin-left: 6%;
      margin-bottom: 3%;
      margin-top: 3%; 
      float: left;
      width: 50%;
      height: 100%;
      max-width: 100px;
      max-height: 100px;
    }

    button {
      position: absolute;
      width: 23%;
      height: 18%;
      top: 45%;
      right: 25%;
      background: transparent;
      border: solid 2px;
      border-bottom: 3px solid;
      font-weight: 700;
      font-size: 12px;
    }

  }

}

#description {
  font-family: $font-family;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: $font-family;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: $font-family;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 0.25%;
  margin-left: -5.5%;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 300;
  position: fixed !important;
  text-overflow: ellipsis;
  width: 18%;
  border-bottom: solid 2px black;
}

#pac-input:focus {
  border-color: #4d90fe;
}


#target {
  width: 345px;
}
