@import '../../../normalize';

$screen-xs:                  480px;
$screen-sm:                  768px;
$screen-md:                  992px;
$screen-lg:                  1200px;

$font-family:                Roboto;
$outline-gray:             #F0F0F1;
$white:                    #fff;                 


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  
  background-color: transparent;

  @media screen and (max-width: $screen-lg) {
    position: relative;
    float: right;
    height: 520px;
    width: 80%;
  }

  @media screen and (max-width: $screen-md) {

  }

  @media screen and (max-width: $screen-sm) {
    height: 100px;
  }

  @media screen and (max-width: $screen-xs) {
    width: 100%;
    height: 350px; 
    position: absolute;
    float: right;
  }

}


#clusterize-user-panel {
  
  @media screen and (max-width: $screen-lg) {
    position: absolute;
    float:right;
    margin: 0 auto;
    width: 20%;
    height: 490px;
    margin-top: 4%;
  }

  @media screen and (max-width: $screen-sm) {

  }

  @media screen and (max-width: $screen-md) {

  }

  @media screen and (max-width: $screen-xs) {
    float: right;
    position: relative;
    width: 100%;
    height: 50%;
    margin-top: 100%;
  }

}

.clusterize {
  @media screen and (max-width: $screen-lg) {

  }

  @media screen and (max-width: $screen-md) {

  }

  @media screen and (max-width: $screen-sm) {

  }
  
  @media screen and (max-width: $screen-xs) {
    height: 80%;
  }

}


#scrollArea {
  
  @media screen and (max-width: $screen-lg) {
    overflow-y: scroll;
    height: 475px; 
  }

  @media screen and (max-width: $screen-md) {

  }

  @media screen and (max-width: $screen-sm) {

  }
  
  @media screen and (max-width: $screen-xs) {
    overflow-y: scroll;
    height: 100%;
  }

}

#clusterize-user-table {

  @media screen and (max-width: $screen-lg) {
    width: 98%;
  }

  @media screen and (max-width: $screen-md) {
    width: 98%;
  }

  @media screen and (max-width: $screen-sm) {
    width: 98%;
  }
  
  @media screen and (max-width: $screen-xs) {
    margin-top: 10%;
    width: 98%;
    height: 50%;
    
  }

}

#clusterize-user-cell {

  @media screen and (max-width: $screen-lg) {
    width: 100%; 
    height: 50%;
    position: relative;
    padding {
      top: 5%; 
      left: 5%;
    }
  }
  
  @media screen and (max-width: $screen-md) {

  }

  @media screen and (max-width: $screen-sm) {

  }

  @media screen and (max-width: $screen-xs) {
    height: 25%;
  }

}

#clusterize-user-cell:after {
  
  @media screen and (max-width: $screen-lg) {
    content: '';
    position: absolute;
    width: 95% !important;
    top: 2.5%;
    left: 5%;
    right: 5%;
    bottom: 2.5%;
    margin-bottom: 2%;
    outline: 4px solid $outline-gray;
  }

  @media screen and (max-width: $screen-md) {

  }

  @media screen and (max-width: $screen-sm) {

  }

  @media screen and (max-width: $screen-xs) {
    left: 3%;
  }

}

#clusterize-user-cell {
        
  @media screen and (max-width: $screen-lg) {

    h3 {  
      margin-top: 2.5%;
      margin-left: 2.5%;
      float: left;
      width: 42%;
      overflow-wrap: break-word;
      color: black;
      font-family: $font-family;
      font-size: 14px;
      font-style: bold;
    }

    img {
      margin-left: 6%;
      margin-bottom: 3%;
      margin-top: 3%; 
      float: left;
      width: 50%;
      height: 100%;
      max-width: 100px;
      max-height: 100px;
    }

    button {
      align-self: right;
      align-content: center;
      margin-top: 7%;
      margin-left: 2%;
      padding: 0;
      width: 24%;
      height: 18%;
      top: 45%;
      background: transparent;
      border: solid 2px;
      border-bottom: 3px solid;
      overflow: hidden;
      font-weight: 700;
      font-size: 12px;
    }

  }

  @media screen and (max-width: $screen-md) {

  }

  @media screen and (max-width: $screen-sm) {

  }

  @media screen and (max-width: $screen-xs) {

   h3 {  
      float: left;
      width: 25%;
      color: black;
      font-family: $font-family;
      font-size: 14px;
      font-style: bold;
    }

    img {
      max-width: 30%;
      max-height: 25%;
      margin: 3%;
      margin-top: 1%;
      padding: 2%;
      
      float: left;
    }

    button {
      float: left;
      width: 12%;
      bottom: 0%;

      

    }

  }

}

#description {
  font-family: $font-family;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: $font-family;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: $font-family;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {

  @media screen and (max-width: $screen-lg) {
    background-color: $white;
    margin-top: 1%;
    left: 1% !important;
    position: fixed !important;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 500;
    text-overflow: ellipsis;
    width: 18.25%;
    border: 0;
    outline: 0;
    border-bottom: solid 2px black;
  }

  @media screen and (max-width: $screen-md) {

  }

  @media screen and (max-width: $screen-xs) {

  }

  @media screen and (max-width: $screen-sm) {
    padding: 0;
    margin: 0;
    background: transparent;
    margin-top: 95%;
    margin-left: 2.3%;
    height: 5%;
    width: 92.7%;
    font-size: 16px;   

    
  }

}

#pac-input:focus {
  border-color: #4d90fe;
}


#target {
  width: 345px;
}
