 /* USer List */

@import './normalize';
@import './variables';


#clusterize-user-panel {
	
	@media screen and (min-width: $screen-xlg) {

	}

	@media screen and (min-width: $screen-lg) {
		position: absolute;
		float:right;
		width: 15%;
		height: 490px;
		margin-top: 2.5%;
		margin-left: auto;
		margin-right: auto;
	}
	
	@media screen and (max-width: $screen-lg) {
		position: absolute;
		float:right;
		width: 20%;
		height: 490px;
		margin-top: 3.5%;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: $screen-md) {
		width: 25%;
	}

	@media screen and (max-width: $screen-sm) {
		width: 30%;
	}

	@media screen and (max-width: $screen-xs) {
		float: right;
		position: relative;
		width: 100%;
		height: 44%;
		margin-top: 100%;
	}

}

.clusterize {
	
	@media screen and (min-width: $screen-lg) {
		
	}

	@media screen and (max-width: $screen-lg) {

	}

	@media screen and (max-width: $screen-md) {

	}

	@media screen and (max-width: $screen-sm) {

	}
	
	@media screen and (max-width: $screen-xs) {
		height: 100%;
	}

}

#scrollArea {
	max-height: 482px; 
	overflow-y: scroll;
	
	@media screen and (min-width: $screen-lg) {
		height: 100%; 
		margin-top: -5%;
	}

	@media screen and (max-width: $screen-lg) {  
		height: 100%; 
	}

	@media screen and (max-width: $screen-md) {
		margin-top: 9%;
		height: 471px;
	}

	@media screen and (max-width: $screen-sm) {
		height: 477px;
		margin-top: 9%;
	}
	
	@media screen and (max-width: $screen-xs) {
		overflow-y: scroll;
		margin-top: 0;
		height: 100%;
	}

}


#scrollArea::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgb(143, 148, 153);
	border-radius: 10px;
	background-color: $white;
}

#scrollArea::-webkit-scrollbar {
	width: 5px;
	background-color: $white;
}

#scrollArea::-webkit-scrollbar-thumb {
	border-radius: 12px;
	-webkit-box-shadow: inset 0 0 6px rgb(143, 148, 153);
	background-color: gray;
}


#clusterize-user-table {

	@media screen and (min-width: $screen-lg) {
		width: 98%;
	}

	@media screen and (max-width: $screen-lg) {
		width: 98%;
	}

	@media screen and (max-width: $screen-md) {
		width: 98%;
	}

	@media screen and (max-width: $screen-sm) {
		width: 98%;
	}
	
	@media screen and (max-width: $screen-xs) {
		margin-top: 1%;
		width: 98%;
		height: 100%;		
	}

}

#clusterize-user-cell {	
	
	@media screen and (min-width: $screen-lg) {
		width: 100%; 
		height: 80%;
		position: relative;
		padding {
			top: 5%; 
			left: 5%;
		}
	}

	@media screen and (max-width: $screen-lg) {
		width: 100%; 
		height: 80%;
		position: relative;
		padding {
			top: 5%; 
			left: 5%;
		}
	}
	
	@media screen and (max-width: $screen-md) {
		
	}

	@media screen and (max-width: $screen-sm) {
		width: 100%;
	}

	@media screen and (max-width: $screen-xs) {
		height: 110px;
	}

}

#clusterize-user-cell:after {

	@media screen and (min-width: $screen-lg) {
		content: '';
		position: absolute;
		width: 90% !important;
		max-width: 450px;
		top: 2.5%;
		bottom: 2.5%;
		left: 4.5%;
		right: 4%;
		bottom: 2.5%;
		margin-bottom: 2%;
		outline: 4px solid $outline-gray;
	}

	@media screen and (max-width: $screen-lg) {
		content: '';
		position: absolute;
		width: 95% !important;
		max-width: 200px;
		top: 2.5%;
		bottom: 2.5%;
		left: 4%;
		right: 4%;
		bottom: 2.5%;
		margin-bottom: 2%;
		outline: 4px solid $outline-gray;
	}

	@media screen and (max-width: $screen-md) {
		width: 95% !important;
		max-width: 220px;
		margin-right: 0;
	}

	@media screen and (max-width: $screen-sm) {
		width: 90% !important;
		margin-top: 2%;
		margin-left: 2%;
	}

	@media screen and (max-width: $screen-xs) {
		max-width: 95%;
		width: 100% !important;
		left: 3%;
		margin-left: 0.5%;
		margin-bottom: 1%;
	}

}

#clusterize-user-cell {

	@media screen and (min-width: $screen-lg) {
		h3 {
			display: inline-block;
			margin-top: 8%;
			margin-left: 4%;
			width: 34%;
			word-break: break-all;
			color: $black;
			font-family: $font-family;
			font-size: 0.75vw;
			font-weight: 700;
			hyphens: auto;
		}

		img {
			margin-left: 7.5%;
			margin-bottom: 6%;
			margin-top: 4%; 
			float: left;
			width: 43%;
			height: 30%;
			max-width: 150px;
			max-height: 150px;
		}

		button {
			margin-top: 8%;
			margin-left: 3.5%;
			padding: 0;
			padding-bottom: 2%;
			width: 28%;
			height: 18.5%;
			background: transparent;
			border: solid 2px;
			border-bottom: 3px solid;
			overflow: hidden;
			font-weight: 700;
			font-size: 0.8vw;
		}
	}

	@media screen and (max-width: $screen-lg) {

		h3 {
			display: inline-block;
			margin-top: 8%;
			margin-left: 4%;
			width: 30%;
			word-break: break-all;
			color: $black;
			font-family: $font-family;
			font-size: 1.1vw;
			font-weight: 700;
			hyphens: auto;
		}

		img {
			margin-left: 6%;
			margin-bottom: 6%;
			margin-top: 4%; 
			float: left;
			width: 100%;
			height: 100%;
			max-width: 100px;
			max-height: 100px;
		}

		button {
			margin-top: 7%;
			margin-left: 3.5%;
			padding: 0;
			width: 26%;
			height: 18.5%;
			background: transparent;
			border: solid 2px;
			border-bottom: 3px solid;
			overflow: hidden;
			font-weight: 700;
			font-size: 12px;
		}
	}

	@media screen and (max-width: $screen-md) {
		h3 {
			position: absolute;
			top: 10%;
			font-size: 1.3vw;
			hyphens: auto;
			width: 28%;
			margin-top: 0;
			overflow:hidden; 
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		img {
			margin-top: 4%;
			margin-left: 7%;
			max-width: 80px;
			max-height: 80px;
		}
		button {
			width: 25%;
			height: 25%;
			margin-top: 20%;
			font-size: 11px;
			
			
		}
	}

	@media screen and (max-width: $screen-sm) {
		h3 {
			margin-top: 2%;
			font-size: 1.7vw;

		}
		img {
			margin-top: 6%;
			margin-left: 9%;
			max-width: 70px;
			max-height: 70px;
		}
		button {
			margin-top: 23%;
		}
	}

	@media screen and (max-width: $screen-xs) {
		h3 {
			float: left;  
			right: 29%;
			margin-top: 4%;
			width: 30%;
			color: $black;
			word-break: break-all;
			font-family: $font-family;
			font-size: 15px;
			hyphens: auto;
		}

		img {
			max-width: 30%;
			max-height: 83%;
			margin: 3%;
			margin-top: 4%;
			margin-left: 5%;
			padding: 2%;
			float: left;
		}

		button {
			position: absolute;
			width: 19%;
			height: 28%;
			bottom: 17%;
			right: 40%;
			font-size: 15px;
			font-weight: 700;
		}
	}
}
